<div class="fav-btn_container">
 
</div>
<main class="main">
  <div class="favourite_container">
    <h2 class="favourite_container__title">Favourite List</h2>
    <ul class="favourite_container__list js-favourite-list"></ul>
    <button class="reset_fav fav-btn-js" type="reset">Delete favourites</button>
  </div>
  <div class="results_container">
    <h2 class="results_container__title">Results</h2>
    <ul class="results_container__list js-allresults-list"></ul>
  </div>
</main>
